/.vscode
/analyze_LP01.LTX
/B_array.py
/change_shape.py
/check_numbers_after_restrictions.py
/C_A_finder.py
/documentation.docx
/LP01.LTX
/main.py
/openfiles.py
/requirements.txt
/seperation.py
/size_checker_and_Eqin.py
/__pycache__